[package]
name = "octocrab"
version = "0.16.0"
authors = ["XAMPPRocky <xampprocky@gmail.com>"]
edition = "2018"
readme = "README.md"
homepage = "https://github.com/XAMPPRocky/octocrab"
repository = "https://github.com/XAMPPRocky/octocrab.git"
description = "A modern, extensible GitHub API client."
license = "Apache-2.0/MIT"
documentation = "https://docs.rs/octocrab"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html
[package.metadata.docs.rs]
targets = ["x86_64-unknown-linux-gnu"]

[dependencies]
reqwest = { version = "0.11.10", default-features = false, features = ["json"] }
serde = { version = "1.0.126", features = ["derive"] }
serde_json = "1.0.64"
serde_path_to_error = "0.1.4"
async-trait = "0.1.50"
chrono = { version = "0.4.19", features = ["serde"] }
url = { version = "2.2.2", features = ["serde"] }
hyperx = "1.3.0"
snafu = { version = "0.7", features = ["backtraces"] }
once_cell = "1.7.2"
arc-swap = "1.3.0"
base64 = "0.13.0"
bytes = "1.0.1"
jsonwebtoken = "8"
futures-core = { version = "0.3.15", optional = true }
futures-util = { version = "0.3.15", optional = true }
secrecy = "0.8.0"

[dev-dependencies]
tokio = { version = "1.17.0", default-features = false, features = ["macros", "rt-multi-thread", "time"] }
wiremock = "0.5.3"

[features]
default = ["reqwest/native-tls"]
rustls = ["reqwest/rustls-tls"]
stream = ["futures-core", "futures-util", "reqwest/stream"]
