[package]
name = "octocrab"
version = "0.8.6"
authors = ["XAMPPRocky <xampprocky@gmail.com>"]
edition = "2018"
readme = "README.md"
homepage = "https://github.com/XAMPPRocky/octocrab"
repository = "https://github.com/XAMPPRocky/octocrab.git"
description = "A modern, extensible GitHub API client."
license = "Apache-2.0/MIT"
documentation = "https://docs.rs/octocrab"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html
[package.metadata.docs.rs]
targets = ["x86_64-unknown-linux-gnu"]

[dependencies]
reqwest = { version = "0.11.0", default-features = false, features = ["json"] }
serde = { version = "1.0.106", features = ["derive"] }
serde_json = "1.0.51"
serde_path_to_error = "0.1.2"
async-trait = "0.1.30"
chrono = { version = "0.4.11", features = ["serde"] }
url = { version = "2.1.1", features = ["serde"] }
hyperx = "1.0.0"
snafu = { version = "0.6.6", features = ["backtraces"] }
once_cell = "1.3.1"
arc-swap = "1.0.0"
base64 = "0.13"
bytes = "1.0.0"
futures-core = { version = "0.3.6", optional = true }
futures-util = { version = "0.3.6", optional = true }
doc-cfg = "0.1.0"

[dev-dependencies]
tokio = { version = "1.0", default-features = false, features = ["macros", "rt-multi-thread"] }

[features]
default = ["reqwest/native-tls"]
rustls = ["reqwest/rustls-tls"]
stream = ["futures-core", "futures-util", "reqwest/stream"]
