[package]
name = "octocrab"
version = "0.19.0"
authors = ["XAMPPRocky <xampprocky@gmail.com>"]
edition = "2018"
readme = "README.md"
homepage = "https://github.com/XAMPPRocky/octocrab"
repository = "https://github.com/XAMPPRocky/octocrab.git"
description = "A modern, extensible GitHub API client."
license = "Apache-2.0/MIT"
documentation = "https://docs.rs/octocrab"
categories = ["web-programming::http-client"]
keywords = ["github", "github-api"]

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html
[package.metadata.docs.rs]
targets = ["x86_64-unknown-linux-gnu"]

[dependencies]
serde = { version = "1.0.126", features = ["derive"] }
serde_json = "1.0.64"
serde_path_to_error = "0.1.4"
async-trait = "0.1.50"
chrono = { version = "0.4.19", default-features = false, features = [
    "serde",
    "clock",
] }
url = { version = "2.2.2", features = ["serde"] }
snafu = { version = "0.7", features = ["backtraces"] }
once_cell = "1.7.2"
arc-swap = "1.3.0"
base64 = "0.13.1"
bytes = "1.0.1"
jsonwebtoken = "8"
futures-core = { version = "0.3.15" }
futures-util = { version = "0.3.15" }
futures = { version = "0.3.15" }
secrecy = "0.8.0"
cfg-if = "1.0.0"
either = "1.8.0"
hyper = { version = "0.14.13", features = ["client", "http1", "stream", "tcp"] }
http = "0.2.5"
tower-http = { version = "0.3.2", features = ["map-response-body", "trace"] }
hyper-timeout = {version = "0.4.1", optional = true }
http-body = "0.4.5"
tower = { version = "0.4.13", default-features = false, features = ["util", "buffer"] }
hyper-openssl = { version = "0.9.2", optional = true }
openssl = { version = "0.10.36", optional = true }
rustls = { version = "0.20.3", features = ["dangerous_configuration"], optional = true }
hyper-rustls = { version = "0.23.2", optional = true }
rustls-pemfile = { version = "1.0.0", optional = true }
tracing = { version = "0.1.37", features = ["log"]}
serde_urlencoded = "0.7.1"
pin-project = "1.0.12"
tokio = { version = "1.17.0", default-features = false, optional = true }
[dev-dependencies]
urlencoding = "2.1.2"
tokio = { version = "1.17.0", default-features = false, features = [
    "macros",
    "rt-multi-thread",
    "time",
] }
wiremock = "0.5.3"

[features]
default = ["openssl-tls", "timeout"]

rustls-tls = ["rustls", "rustls-pemfile", "hyper-rustls"]
openssl-tls = ["openssl", "hyper-openssl"]
timeout = ["hyper-timeout", "tokio"]