.dx-checkbox {
    width: 1rem;
    height: 1rem;
    box-sizing: border-box;
    padding: 0;
    border: none;
    border-radius: 4px;
    margin: 0;
    background-color: var(--primary-color-3);
    box-shadow: inset 0 0 0 1px var(--primary-color-7);
    color: var(--secondary-color-4);
    cursor: pointer;
}

.dx-checkbox-indicator {
    display: flex;
    align-items: center;
    justify-content: center;
}

.dx-checkbox[data-state="checked"] {
    background-color: var(--secondary-color-2);
    box-shadow: none;
    color: var(--primary-color);
}

.dx-checkbox:focus-visible {
    box-shadow: 0 0 0 2px var(--focused-border-color);
}
